/* esercizio 1 */
.ex-1-square{
  transition: 2s;
}

.ex-1-square:hover{
  background-color: red;
}

/* esercizio 2 */
.ex-2-square{
  transition: 2s ease-out;
}

.ex-2-square:active{
  width: 100%;
}

/* esercizio 3 */
.ex-3-square{
  transition: 1.5s;
}

.ex-3-square:hover{
  border-radius: 100px;
}

/* esercizio 4 */
.ex-4-square{
  transition: 3s;
}

.ex-4-square:hover{
  opacity: 0;
}

/* esercizio 5 */
.ex-5-square{
  transition: 1.5s;
}

.ex-5-square:hover{
  width: 100px;
  height: 100px;
  margin: 0;
}

.ex-5-square:active{
  width: 25px;
  height: 25px;
  margin: 35px;
}

/* esercizio 6 */
.ex-6-img:hover{
  filter: grayscale(100%);
}

/* esercizio 7 */
.ex-7-img{
  transition: 1.5s;
}

.ex-7-img:hover{
  filter: grayscale(100%) blur(5px);
}

/* esercizio 8 */
.ex-8-img{
  transition: 1.5s;
}

.ex-8-img:hover{
  filter: invert(100%) brightness(3);
  border-radius: 20px;
}

/* esercizio 9 */
.ex-9-img{
  transition: 1.5s;
}

.ex-9-img:hover{
  filter: sepia(100%) contrast(60%);
  border-radius: 20px;
  transform: scale(1.5);
}

/* esercizio 10 */
.ex-10-icon{
  animation: move1 2s infinite linear;
}

@keyframes move1 {
  from { transform: rotate(0deg) }
  to { transform: rotate(360deg) }
}

/* esercizio 11 */
.ex-11-icon{
  animation: move2 2s infinite alternate linear;
}

@keyframes move2 {
  from { transform: rotate(0deg) }
  to { transform: rotate(270deg) }
}

/* esercizio 12 */
a:hover .ex-12-top-white {
  animation: move-left-12 2s infinite linear;
}

@keyframes move-left-12 {
  0% { left: 10%; }
  25% { left: 35%; }
  50% { left: 70%; }
  75% { left: -10%; }
  100% { left: 10%; }

}

a:hover .ex-12-bottom-white {
  animation: move-right-12 2s infinite linear;
}

@keyframes move-right-12 {
  0% { right: 10%; }
  25% { right: 35%; }
  50% { right: 70%; }
  75% { right: -10%; }
  100% { right: 10%; }
}

a:hover .ex-13-top-white {
  animation: moveTopWhiteCompletely 2s infinite linear;
}
@keyframes moveTopWhiteCompletely {
  0% {
    left: 10%;
    top: -10px;
  }
  30% {
    left: calc(100% - 30px);
    top: -10px;
  }
  45% {
    left: calc(100% - 30px);
    top: 100%;
  }
  75% {
    left: 0;
    top: 100%;
  }
  90% {
    left: -15px;
    top: -10px;
  }
  100% {
    left: 10%;
    top: -10px;
  }
}
a:hover .ex-13-bottom-white {
  animation: moveBottomWhiteCompletely 2s infinite linear;
}
@keyframes moveBottomWhiteCompletely {
  0% {
    right: 20%;
    bottom: -10px;
  }
  30% {
    right: calc(100% - 30px);
    bottom: -10px;
  }
  45% {
    right: calc(100% - 30px);
    bottom: 100%;
  }
  75% {
    right: 0;
    bottom: 100%;
  }
  90% {
    right: -15px;
    bottom: -10px;
  }
  100% {
    right: 20%;
    bottom: -10px;
  }
}







